#first{
    position: absolute;
    bottom: 50px;
    left: 42.7%;
    width: 200px;
    border-radius: 10px;
    background-color: red;
    height: 200px;
    box-shadow: 0 5px 10px 4px rgb(110, 106, 106);
  /*   box-shadow:  0 10px 20px rgba(0,0,0,0.19); */
    
  }
  
  #second{
    width: 200px;
    height: 190px;
    background-color: blue;
    border-radius: 10px;
    position: absolute;
    bottom: 45px;
    left: 45%;
    box-shadow:  0 5px 15px 1px rgb(45, 45, 45);
  }
  
  #third{
    width: 190px;
    height: 180px;
    background-color: yellow;
    border-radius: 10px;
    position: absolute;
    bottom: 36px;
    left: 47.3%;
    box-shadow: 0 5px 15px 2px rgb(45, 45,49);
  }